---
subcategory: ""
page_title: "Accept the Azure Marketplace Agreement for HCS - HCS Provider"
description: |-
    An example of accepting the Azure Marketplace Agreement for the managed HCS offering.
---

# Accept the Azure Marketplace Agreement for HCS

{{ tffile "examples/marketplace_plan/main.tf" }}
