---
subcategory: ""
page_title: "Create an HCS cluster - HCS Provider"
description: |-
    An example of creating an HCS cluster with optional fields defaulted.
---

# Create an HCS cluster using the `hcs_cluster` resource

{{ tffile "examples/quick_start/main.tf" }}
