---
subcategory: ""
page_title: "Peer an HCS cluster VNet - HCS Provider"
description: |-
    An example of peering an Azure Virtual Network (VNet) to an HCS cluster VNet.
---

# Peer an Azure Virtual Network (VNet) to an HCS cluster VNet

Depending on your network topology, VNet peering can be an essential part of connecting
Consul agents to your HCS cluster. 

{{ tffile "examples/cluster_vnet_peering/main.tf" }}
